

@model TM_mvc.ViewModels.districtViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    @if (Model.district_id == 0)
    {
        <h4 class="modal-title custom_align" id="Heading">Add District</h4>
    }
    else
    {
        <h4 class="modal-title custom_align" id="Heading">Edit District</h4>
    }

</div>

@using (Html.BeginForm("AddUpdateDistrict", "District", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body" style=" margin-left:10px;margin-right:10px;">
        @Html.AntiForgeryToken()

        <div id="div_id_country" class="form-group required">
            <label for="id_country" class="control-label requiredField">Country<span class="asteriskField">*</span> </label>
            <div class="controls">
                @Html.DropDownListFor(model => model.country_id, new SelectList(Model.Countries, "country_id", "country_name"), "--Select--", new { id = "ddl_country", @class = "form-control" })
            </div>
        </div>

        <div id="div_state_id" class="form-group required" >
            <label for="id_state_id" class="control-label requiredField">State<span class="asteriskField">*</span> </label>
            <div id="div_state">
                @Html.DropDownListFor(model => model.state_id, new List<SelectListItem>(), "--Select--", new { @id = "ddlState", @class = "form-control" })
            </div>
        </div>


        <div id="div_id_district_code" class="form-group required">
            <label for="id_district_code" class="control-label requiredField"> District Code<span class="asteriskField">*</span> </label>
            <div class="controls">
                @Html.TextBoxFor(model => model.district_code, new { id = "txt_district_code", @class = "input-md textinput textInput form-control", maxlength = "10", style = "margin-bottom: 10px", placeholder = "District Code" })

            </div>
        </div>
        <div id="div_id_district_name" class="form-group required">
            <label for="id_district_name" class="control-label   requiredField">District Name<span class="asteriskField">*</span> </label>
            <div class="controls">
                @Html.TextBoxFor(model => model.district_name, new { id = "id_district_name", @class = "input-md textinput textInput form-control", placeholder = "District Name", style = "margin-bottom: 10px" })

            </div>
        </div>

        @if (Model.district_id != 0)
        {
            <div id="div_id_active_delete" class="form-group required">

                <div class="controls">
                    @Html.RadioButtonFor(model => model.is_active, true, new { id = "id_rb_isactive", style = "margin-bottom: 10px" })
                    @Html.Label("Active")
                    @Html.RadioButtonFor(model => model.is_active, false, new { id = "id_rb_isInActive", style = "margin-bottom: 10px" })
                    @Html.Label("InActive")
                </div>
            </div>
        }
        <div class="form-group">
            <div class="aab controls "></div>
            <div class="controls">
                @Html.HiddenFor(model => model.state_id)
                <input type="submit" name="btn_Save" value="Save" class="btn btn-primary btn btn-info" id="submit-id-save" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddl_country').change(function () {
            $.ajax({
                type: 'post',
                url: '/District/GetStates/',
                data: { country_id: $('#ddl_country').val() },
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    //var state = "<select id='ddlState'>";
                    //state = '<option value='+0+'>--Select--</option>';
                    var state;
                    for (var i = 0; i < data.length; i++) {
                        state = state + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    //state = state + '</select>';
                    $('#ddlState').append(state);
                }
            });
        });
    });
</script>
