


@model TM_mvc.ViewModels.stateViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    @if (Model.state_id == 0)
    {
    <h4 class="modal-title custom_align" id="Heading">Add State</h4>
    }
    else
    {
        <h4 class="modal-title custom_align" id="Heading">Edit State</h4>
    }

</div>
@using (Html.BeginForm("AddUpdateState", "State", FormMethod.Post, new { @class = "form-horizontal" }))
{


    <div class="modal-body" style=" margin-left:10px;margin-right:10px;">
        @Html.AntiForgeryToken()

        <div id="div_id_country" class="form-group required">
            <label for="id_country" class="control-label requiredField">Country<span class="asteriskField">*</span> </label>
            <div class="controls">
               @Html.DropDownListFor(model=>model.country_id,new SelectList(Model.Countries,"country_id","country_name"),"--Select--",new {id="ddl_country_id",@class="form-control" }) 
            </div>
        </div>


        <div id="div_id_state_code" class="form-group required">
            <label for="id_state_code" class="control-label requiredField"> State Code<span class="asteriskField">*</span> </label>
            <div class="controls">
                @Html.TextBoxFor(model => model.state_code, new { id = "txt_state_code", @class = "input-md textinput textInput form-control", maxlength = "10", style = "margin-bottom: 10px", placeholder = "State Code" })

            </div>
        </div>
        <div id="div_id_state_name" class="form-group required">
            <label for="id_state_name" class="control-label   requiredField">State Name<span class="asteriskField">*</span> </label>
            <div class="controls">
                @Html.TextBoxFor(model => model.state_name, new { id = "id_state_name", @class = "input-md textinput textInput form-control", placeholder = "State Name", style = "margin-bottom: 10px" })

            </div>
        </div>

        @if (Model.state_id != 0)
        {
        <div id="div_id_active_delete" class="form-group required">

            <div class="controls">
                @Html.RadioButtonFor(model => model.is_active, true, new { id = "id_rb_isactive", style = "margin-bottom: 10px" })
                @Html.Label("Active")
                @Html.RadioButtonFor(model => model.is_active, false, new { id = "id_rb_isInActive", style = "margin-bottom: 10px" })
                @Html.Label("InActive")
            </div>
        </div>
        }
        <div class="form-group">
            <div class="aab controls "></div>
            <div class="controls">
                @Html.HiddenFor(model => model.state_id)
                <input type="submit" name="btn_Save" value="Save" class="btn btn-primary btn btn-info" id="submit-id-save" />
            </div>
        </div>
    </div>
   
}

